{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block title %} {% endblock %}</title>
   <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.2/dist/full.min.css" rel="stylesheet" type="text/css" />

   <link rel="stylesheet" type="text/css"
      href="{% static 'datatable/css/jquery.dataTables.css' %}">


   <script type="text/javascript" charset="utf8"
      src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
   <script type="text/javascript" charset="utf8"
      src="{% static 'datatable/js/jquery.dataTables.min.js' %}"></script>

   <script src="https://cdn.tailwindcss.com"></script>
   <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
</head>

<body>
   <header class="navbar bg-neutral mb-5">
      <div class="flex-1">
         <a href="/" class="btn btn-ghost text-xl">Administrator Dashboard</a>
      </div>
      <div class="flex-none gap-2">
         <a href="/addpost/" class="btn btn-circle btn-neutral btn-outline btn-sm p-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="" viewBox="0 0 24 24" fill="none" stroke="currentColor"
               stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
               <line x1="12" y1="5" x2="12" y2="19"></line>
               <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
         </a>
         <form action="/search/" method="get">
            <!-- <input type="text" name="s" placeholder="Search" class="input input-bordered " /> -->
            <div class="join">
               <div>
                  <div>
                     <input name="s" class="input input-bordered input-sm join-item" placeholder="Search" required/>
                  </div>
               </div>
               <select name="filter" class="select select-bordered select-sm join-item">
                  <option value="u" selected>User</option>
                  <option value="p" disabled>Post</option>
               </select>
               <div class="indicator">
                  <button class="btn btn-sm join-item">Search</button>
               </div>
            </div>
         </form>
         <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
               <div class="w-10 mask mask-hexagon">
                  <img src="{{ sess.profile_image }}" />
               </div>
            </div>
            <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
               <li>
                  <a href="/u/{{ sess.username }}" class="justify-between">
                     Profile
                     <span class="badge">New</span>
                  </a>
               </li>
               <li><a href="#">Settings</a></li>
               <li><a href="/signout">Sign Out</a></li>
            </ul>
         </div>
      </div>
   </header>

   {% block content %}

   {% endblock %}

</body>

</html>