{% extends 'admin/base.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}

<div class="min-h-screen flex flex-col items-center justify-center gap-4">

   <div class="card bg-neutral">
      <div class="card-body w-96">
         <span class="w-full flex justify-center">
            <h1 class="card-title neutral-content mb-4">
               Actions
            </h1>
         </span>
         <a href="userlist" class="btn btn-accent">View Users</a>
         <a href="reports" class="btn btn-warning">Reports</a>
      </div>
   </div>
</div>

{% endblock %}