{% extends 'admin/base.html' %}
{% block content %}

<div class="min-w-screen flex justify-center mb-10">
    <div class="card bg-neutral w-fit">
        <div class="card-body">
            <h2 class="card-title">User List</h2>
            <div class="overflow-x-auto m-4">
                <table id="usrtable" class="display nowarp table bg-neutral font-base mb-5">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>DoB</th>
                            <th>Posts</th>
                            <th>Followers</th>
                            <th>Following</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usr in usrs %}
                        <tr class="{% if usr.username != 'admin' %} hover {% endif %}">
                            <td>{{ usr.username }}</td>
                            <td>{{ usr.name }}</td>
                            <td>{{ usr.email }}</td>
                            <td>{{ usr.mobile }}</td>
                            <td>{{ usr.dob }}</td>
                            <td>{{ usr.posts }}</td>
                            <td>{{ usr.flowr }}</td>
                            <td>{{ usr.flows }}</td>
                            <td>{{ usr.status }}</td>
                            <td>
                                <div class="join">
                                    <a href="/editusr/{{ usr.id }}"
                                        class="btn btn-sm btn-square btn-outline btn-warning join-item"
                                        {% if usr.username == 'admin' %} disabled {% endif %}>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="size-6" viewBox="0 0 24 24"
                                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            <polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon>
                                        </svg>
                                    </a>
                                    <a href="/delusr/{{ usr.id }}"
                                        class="btn btn-sm btn-square btn-outline btn-error join-item"
                                        {% if usr.username == 'admin' %} disabled {% endif %}>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="size-6" viewBox="0 0 24 24"
                                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <line x1="4.93" y1="4.93" x2="19.07" y2="19.07"></line>
                                        </svg>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% for row_num in "x"|rjust:100 %}
                        <tr>
                            {% for col_num in "x"|rjust:10 %}
                            <td>Test</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#usrtable').DataTable();
    });
</script>
{% endblock %}