{% extends 'settings/base.html' %}
{% block title %}Account Settings{% endblock %}
{% block content %}

<div class="max-w-[100vw] flex flex-col items-center p-5">
   <div class="w-4/5 flex justify-center">
      <div class="card card-compact w-full">
         <div class="card-body bg-neutral">

            <h2 class="card-title">Profile Settings</h2>

            <div class="flex lg:flex-row-reverse flex-col lg:justify-evenly items-center w-full h-fit">
               <div class="w-1/4 h-fit avatar">
                  <div class="w-full h-fit rounded-full relative group">
                     <img class="w-full h-fit" src="{{ usr.image.url }}">
                     <div class="absolute w-full h-1/4 left-0 bottom-0 right-0 opacity-0 group-hover:opacity-100">
                        <button class="w-full h-full btn btn-primary rounded-b-full text-primary-content"
                           onclick="modal.showModal()">Change</button>
                     </div>
                  </div>
                  <dialog id="modal" class="modal modal-bottom sm:modal-middle">
                     <div class="modal-box">
                        <form method="dialog">
                           <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                        </form>
                        <h3 class="font-bold text-lg">Change Profile Picture</h3>
                        <p class="py-4">Upload new image to set as profile picture</p>
                        <form action="" method="POST" class="flex flex-col items-center gap-2" enctype="multipart/form-data">
                           {% csrf_token %}
                           <input type="file" name="usrpic" class="file-input file-input-bordered">
                           <button type="submit" class="btn btn-sm btn-primary mt-2" name="action" value="image">Save</button>
                        </form>
                     </div>
                  </dialog>
               </div>
               <form action="/settings/account/" method="POST" class="w-2/3 flex flex-col items-center mt-4">
                  {% csrf_token %}
                  <div class="w-full mb-4 mx-2">
                     <label for="username" class="form-control flex flex-row w-full">
                        <span class="label w-1/6">Username</span>
                        <input id="username" name="username" class="w-4/5 input input-bordered"
                           value="{{ usr.username }}" />
                        <div id="errmsg" class="label hidden">
                           <span class="label-text"></span>
                           <span class="label-text text-error">Username already exists</span>
                        </div>
                     </label>
                  </div>
                  <div class="w-full flex items-center mb-4 mx-2">
                     <label for="name" class="w-1/6">Name</label>
                     <input id="name" name="name" type="text" class="w-4/5 input input-bordered"
                        value="{{ usr.name }}" />
                  </div>
                  <div class="w-full flex items-center mb-4 mx-2">
                     <label for="bio" class="w-1/6">Bio</label>
                     <textarea id="bio" name="bio"
                        class="w-4/5 textarea textarea-bordered resize">{{ usr.bio }}</textarea>
                  </div>
                  <div class="w-full flex flex-row justify-center gap-3">
                     <div>
                        <button id="savebtn" class="btn btn-primary btn-sm" name="action" value='save'>Save</button>
                     </div>
                     <div>
                        <button type="button" class="btn btn-sm" onclick="clearBox()">Clear</button>
                     </div>
                  </div>
               </form>
            </div>

         </div>
      </div>
   </div>
</div>

<script>
   function clearBox() {
      document.getElementById('username').value = '{{ usr.username }}';
      document.getElementById('name').value = '{{ usr.name }}';
      document.getElementById('bio').value = '{{ usr.bio }}';
   }

   const usrInput = document.getElementById('username');
   const errMsg = document.getElementById('errmsg');
   const saveBtn = document.getElementById('savebtn')
   usrInput.addEventListener('input', function () {
      const username = this.value;

      fetch(`/check-usr/?username=${username}`)
         .then(response => response.json())
         .then(data => {
            if (data.exists) {
               usrInput.classList.add('input-error');
               errMsg.classList.remove('hidden');
               saveBtn.classList.add('btn-disabled');
            } else {
               usrInput.classList.remove('input-error');
               errMsg.classList.add('hidden');
               saveBtn.classList.remove('btn-disabled');
            }
         })
         .catch(error => {
            console.error('Error:', error);
         });
   });
</script>
{% endblock %}