{% extends 'settings/base.html' %}
{% block title %}Account Settings{% endblock %}
{% block content %}

<div class="max-w-[100vw] flex flex-col items-center p-5">
   <div class="w-4/5 flex justify-center">
      <div class="card card-compact w-full">
         <div class="card-body bg-neutral">

            <h2 class="card-title">Profile Settings</h2>

            <div class="flex lg:flex-row-reverse flex-col lg:justify-evenly items-center w-full h-fit">
               <div class="w-1/4 h-fit avatar">
                  <div class="w-full h-fit rounded-full relative group">
                     <img class="w-full h-fit" src="{{ usr.image.url }}">
                     <div class="absolute w-full h-1/4 left-0 bottom-0 right-0 opacity-0 group-hover:opacity-100">
                        <a class="w-full h-full btn btn-primary rounded-b-full text-primary-content">Change</a>
                     </div>
                  </div>
               </div>
               <form action="/settings/account" method="POST" class="w-2/3 flex flex-col items-center mt-4">
                  {% csrf_token %}
                  <div class="w-full mb-4 mx-2">
                     <label class="form-control">
                        <div class="w-full flex flex-row items-center"> 
                        <span class="w-1/6">Username</span>
                        <input id="username" type="text" name="username" class="w-4/5 input input-bordered bg-base-100"
                           placeholder="Username" />
                        </div>
                           <div>
                           <span id="checkUsr" class="label-text-alt text-error">Username already
                              exists</span>
                        </div>
                     </label>
                  </div>
                  <div class="w-full flex items-center mb-4 mx-2">
                     <label class="w-1/6">Name</label>
                     <input type="text" class="w-4/5 input input-bordered" value="{{ usr.name }}" />
                  </div>
                  <div class="w-full flex items-center mb-4 mx-2">
                     <label class="w-1/6">Bio</label>
                     <textarea class="w-4/5 textarea textarea-bordered resize">{{ usr.bio }}</textarea>
                  </div>
                  <div class="w-full flex flex-row justify-center gap-3">
                     <div>
                        <button class="btn btn-primary btn-sm" name="action" value='save'>Save</button>
                     </div>
                     <div>
                        <button class="btn btn-sm" name="action" value='cancel'>Cancel</button>
                     </div>
                  </div>
               </form>
            </div>

         </div>
      </div>
   </div>
</div>

{% endblock %}