<!DOCTYPE html>
<html lang="en" data-them="dark">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block title %}{% endblock %}</title>
   <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.2/dist/full.min.css" rel="stylesheet" type="text/css" />
   <script src="https://cdn.tailwindcss.com"></script>
   <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
</head>
<body>
   <div class="drawer lg:drawer-open">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" /> 
      <div class="drawer-content flex flex-col">
      <!-- Navbar -->
         <div class="w-full flex lg:justify-end md:justify-between navbar bg-neutral">
            <div class="flex-none lg:hidden">
               <label for="my-drawer-2" class="btn btn-square btn-ghost">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
               </label>
            </div> 
            <div class="flex-1 px-2 mx-2 lg:hidden">
               <a href="/" class="btn btn-ghost text-xl">Clutch</a>
            </div>
            <div class="flex-none gap-2">
               <div class="tooltip tooltip-bottom" data-tip="Add Post">
                  <a href="/addpost/" class="btn btn-circle btn-neutral btn-outline btn-sm p-2">
                     <svg xmlns="http://www.w3.org/2000/svg" class="" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                     </svg>
                  </a>
               </div>
               <div class="tooltip tooltip-bottom" data-tip="Chat">
                  <a href="/chat/" class="btn btn-circle btn-neutral btn-outline btn-sm p-2">
                     <svg xmlns="http://www.w3.org/2000/svg" class="" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                     </svg>
                  </a>
               </div>
               <form action="/search/" method="get">
                  <!-- <input type="text" name="s" placeholder="Search" class="input input-bordered " /> -->
                  <div class="join">
                     <div>
                        <div>
                           <input name="s" class="input input-bordered input-sm join-item" placeholder="Search" required/>
                        </div>
                     </div>
                     <select name="filter" class="select select-bordered select-sm join-item">
                        <option value="u" selected>User</option>
                        <option value="p" disabled>Post</option>
                     </select>
                     <div class="indicator">
                        <button class="btn btn-sm join-item">Search</button>
                     </div>
                  </div>
               </form>
               <div class="dropdown dropdown-end">
                  <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                     <div class="w-10 rounded-full">
                        <img alt="Tailwind CSS Navbar component"
                           src="{{ sess.profile_image }}" />
                     </div>
                  </div>
                  <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
                     <li>
                        <a href="/u/{{ sess.username }}/" class="justify-between">
                           Profile
                        </a>
                     </li>
                     <li><a href="/settings/">Settings</a></li>
                     <li><a href="/signout/">Sign Out</a></li>
                  </ul>
               </div>
            </div>


         </div>


      <!-- Page content here -->
      {% block content %}

      {% endblock %}


      </div> 
      <div class="drawer-side overflow-hidden">
      <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
      <div class="sticky top-0 z-20 hidden items-center gap-2 px-4 py-2 lg:flex bg-neutral">
         <a href="/" class="btn btn-ghost text-xl">Clutch</a>
      </div>
      <ul class="menu p-4 w-80 min-h-full bg-base-200">
         <!-- Sidebar content here -->
         <li><a href="/settings/account/">Profile</a></li>
         <li><a href="/settings/sign-in/">Sign-in</a></li>
      </ul>
      </div>
   </div>
   
</body>
</html>