<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Daisy UI Template</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daisyui@4.6.2/dist/full.min.css" />
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

	<div class="min-h-screen flex flex-col items-center justify-center gap-4">

		<div class="card bg-neutral">
			<div class="card-body w-96">
				<span class="w-full flex justify-center">
					<h2 class="card-title neutral-content">Sign Up</h2>
				</span>

					<form action="signup" method="POST">
						{% csrf_token %}
						{% if errmsg %}
						<div role="alert" class="alert alert-error">
							<svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
								viewBox="0 0 24 24">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
									d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
							</svg>
							<span>Invalid Username or Password</span>
						</div>
						{% endif %}

						<div class="form-control mt-2">
							<label class="input input-bordered flex items-center gap-2">
								<input type="text" name="name" class="grow bg-transparent" placeholder="Name" />
							</label>
						</div>
						<div class="form-control mt-2">
							<label class="input input-bordered flex items-center gap-2">
								<input type="text" name="email" class="grow bg-transparent" placeholder="Email" />
							</label>
						</div>
						<div class="form-control mt-2">
							<label class="input input-bordered flex items-center gap-2">
								<input type="text" name="mobile" class="grow bg-transparent" placeholder="Mobile" />
							</label>
						</div>
						<div class="form-control mt-2">
							<label class="input input-bordered flex items-center gap-2">
								<input type="date" name="dob" class="grow bg-transparent" placeholder="Date of birth" />
							</label>
						</div>
						<div class="form-control mt-2">
							<label class="input input-bordered flex items-center gap-2">
								<input type="text" name="username" class="grow bg-transparent" placeholder="Username" />
							</label>
						</div>
						<div class="form-control mt-2 lg:w-80">
							<label class="input input-bordered flex items-center gap-2">
								
								<input type="password" name="password" class="grow bg-transparent" placeholder="Password" />
							</label>
						</div>
						<div class="form-control mt-2">
							<button class="btn btn-primary">SIGN UP</button>
						</div>
					</form>

			</div>
		</div>

		<div class="card bg-neutral">
			<div class="card-body w-96">
				<div class="m-1 text-center">
				Already have an account?
				<a href="signin" class="link-primary">Sign in</a>
				</div>
			</div>
		</div>
		
	</div>

</body>

</html>