{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign in to Clutch</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daisyui@4.6.2/dist/full.min.css" />
	<link rel="stylesheet" type="text/css" href="{% static 'gsi.css' %}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap">
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

	<div class="min-h-screen flex flex-col items-center justify-center gap-4">

		<div class="card bg-neutral">
			<div class="card-body w-96">
				<span class="w-full flex justify-center">
					<h2 class="card-title neutral-content">Sign In</h2>
				</span>
				<div class="flex flex-col w-full border-opacity-50">

					<form action="signin" method="POST" class="mb-2">
						{% csrf_token %}


						{% if err != None %}
						<div role="alert" class="alert alert-error p-2 flex justify-center">
							<span>
								{% if err == 0 %}
								Invalid Username or Password
								{% endif %}
								{% if err == 1 %}
								Your account has been blocked
								{% endif %}
							</span>
						</div>
						{% endif %}

						<div class="form-control mt-2">
							<label class="input input-bordered flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
									class="w-4 h-4 opacity-70">
									<path
										d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
								</svg>
								<input type="text" name="username" class="grow bg-inherit" placeholder="Username" />
							</label>
						</div>
						<div class="form-control mt-2 lg:w-80">
							<label class="input input-bordered flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
									class="w-4 h-4 opacity-70">
									<path fill-rule="evenodd"
										d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
										clip-rule="evenodd" />
								</svg>
								<input type="password" name="password" class="grow bg-inherit" placeholder="Password" />
							</label>
						</div>
						<div class="form-control mt-2">
							<button class="btn btn-primary">SIGN IN</button>
						</div>
						<div class="mt-4 text-center">
							<a href="#" class="link-primary">Forgot Password?</a>
						</div>
					</form>

					<div class="divider">OR</div>

					<!--------------->
					<!-- GSI start -->
					<button class="gsi-material-button">
						<div class="gsi-material-button-state"></div>
						<div class="gsi-material-button-content-wrapper">
							<div class="gsi-material-button-icon">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"
									xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
									<path fill="#EA4335"
										d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
									</path>
									<path fill="#4285F4"
										d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
									</path>
									<path fill="#FBBC05"
										d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
									</path>
									<path fill="#34A853"
										d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
									</path>
									<path fill="none" d="M0 0h48v48H0z"></path>
								</svg>
							</div>
							<span class="gsi-material-button-contents">Sign in with Google</span>
							<span style="display: none;">Sign in with Google</span>
						</div>
					</button>
					<!-- GSI end -->
					<!------------->

				</div>
			</div>
		</div>

		<div class="card bg-neutral">
			<div class="card-body w-96">
				<div class="m-1 text-center">
					New here? <a href="signup" class="link-primary">Create an account</a>
				</div>
			</div>
		</div>

	</div>

</body>

</html>