{% extends "user/base.html" %}
{% block content %}

<div class="min-h-screen min-w-11/12 max-w-full flex flex-col justify-center m-5 gap-5 lg:flex-row">
   <div class="w-1/3 h-fit card card-compact bg-neutral">
      <div class="card-body">
         <h2 class="card-title">Add Post</h2>
         <form action="/addpost/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-control">
               <textarea id="desc" name="desc" class="textarea textarea-bordered w-full"
                  placeholder="Write something"></textarea>
            </div>
            <div class="form-control flex flex-row mt-2 gap-2">
               <label class="label ms-2">Add an image or a video</label>
               <input id="file-input" name="filee" type="file" class="file-input file-input-bordered w-full" />
            </div>
            <div id="err-msg" role="alert" class="alert alert-error hidden mt-2"></div>
            <div class="form-control mt-3">
               <button class="btn btn-accent">Add Post</button>
            </div>
         </form>
      </div>
   </div>
   <div id="preview-card" class="w-1/3 h-fit card card-compact bg-neutral hidden">
      <div class="card-body">
         <h2 class="card-title">Preview</h2>
         <div class="w-full h-fit card card-compact bg-base-100">
            <div class="card-body">
               <h2 class="card-title">@{{ sess.username }}</h2>
               <p id="pst-txt" class="mx-3"></p>
               <div id="preview-container" class=""></div>
               <div class="w-full flex flex-row form-control justify-stretch">
                  <button class="btn">
                     <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
                     Like
                  </button>
                  <button class="btn">
                     <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
                     Comment
                  </button>
                  <button class="btn">
                     <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg>
                     Share
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script>
   document.addEventListener("DOMContentLoaded", function () {
      const errView = document.getElementById('err-msg');
      const previewContainer = document.getElementById("preview-container");
      const fileInput = document.getElementById("file-input");
      const desc = document.getElementById('desc');
      const preCard = document.getElementById('preview-card');
      var fileType;

      desc.addEventListener("input", function () {
         if (desc.value == '') {
            preCard.classList.add('hidden');
         }
         else {
            document.getElementById('pst-txt').innerHTML = desc.value;
            preCard.classList.remove('hidden');
         }
      });
      fileInput.addEventListener("change", function () {
         if (checkFile()) {
            fileInput.classList.remove("input-error");
            errView.classList.add('hidden');
            viewPreview();
         }
         else {
            fileInput.value = "";
         }
      });

      function checkFile() {
         var file = fileInput.files[0];
         var fileExtension = file.name.split('.').pop().toLowerCase();

         // Check if the file extension is supported for image or video
         var imageExtensions = ["jpg", "jpeg", "png", "gif", "bmp", "webp"];
         var videoExtensions = ["mp4", "webm"];

         if (imageExtensions.includes(fileExtension)) {
            fileType = 'image';
            return true;
         } else if (videoExtensions.includes(fileExtension)) {
            fileType = 'video';
            return true;
         } else {
            errMsg("Unsupported file format");
            return false;
         }

         // check file size 
         if (file.size < 102400) { // 100 KB = (100 * 1024) Bytes = 102400
            errMsg("File size too small. Please choose a file larger than 100 KB.");
            return false;
         }
         if (file.size > 524288000) { // 500 MB = (100 * 1024 * 1024) Bytes = 524288000
            errMsg("File size too large. Please choose a file smaller than 500 MB.");
            return false;
         }
      }

      function viewPreview() {
         var file = fileInput.files[0];
         var reader = new FileReader();
         reader.onload = function (e) {
            var previewElement;

            if (fileType == 'video') {
               previewElement = document.createElement("video");
               previewElement.setAttribute("controls", "true");
               var sourceElement = document.createElement("source");
               sourceElement.setAttribute("src", e.target.result);
               previewElement.appendChild(sourceElement);
            } else if (fileType == 'image') {
               previewElement = document.createElement("img");
               previewElement.setAttribute("src", e.target.result);
               previewElement.setAttribute("alt", "Description of the media");
            }
            previewContainer.innerHTML = ""; // Clear previous preview
            previewContainer.appendChild(previewElement);
         };

         reader.readAsDataURL(file);
      }

      function errMsg(msg) {
         errView.innerHTML = msg;
         errView.classList.remove("hidden");
         fileInput.classList.add("input-error");
      }
   });
</script>

{% endblock %}